.signUpContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
}
  .h2 {
    margin: 10px 0;
  }

  .normalButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: white;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed';
    font-weight: bolder;
    letter-spacing: 0.5px;
    line-height: 50px;
    font-size: 12px;
    border: 1px solid black;
  }

  .normalButton:hover {
    background-color: rgb(237, 234, 234);
    color: black;
    border: 1px solid black;
  }